version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bundle exec rails s -b 0.0.0.0 -p 3000"
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - RAILS_ENV=development
      - DATABASE_URL=postgres://postgres:password@db:5432/finances_db
      - RAILS_MASTER_KEY=f3a80da8c5fd81472804d2dae931195e
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finances_db
    ports:
      - "5432:5432"
